.spinner {
	background-color: rgb(191, 209, 227);
	height: 100%;
	width: 100%;
	z-index: 9999999999999;
	border: 1px dotted rgba(128, 128, 128, 0.5);
}

.spinner>.self {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.spinning-wheel {
	width: 66px;
	height: 66px;
	box-sizing: border-box;
	border: solid 0.66em transparent;
	border-color: #3a9bdc #ff6060 #ffc500 #63b47a;
	border-radius: 100%;
	-webkit-animation: spinner 400ms linear infinite;
	animation: spinner 400ms linear infinite;
}

@-webkit-keyframes spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}