@import url(common.css);

.home {
	margin-top: 5%;
}

.home {
	border: 3px solid rgba(255, 255, 255, 0.55);
	border-radius: 9px;
	box-shadow: 6px 6px 18px 1px rgba(27, 73, 126, 0.33);
}

.home {
	width: 1200px;
	height: 720px;
}